<div class="ajax-text-and-image white-popup-block">
	<div class="inside_gal">
		<div class="ajcol">
			<div><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Marabou_stork%2C_Leptoptilos_crumeniferus_edit1.jpg/603px-Marabou_stork%2C_Leptoptilos_crumeniferus_edit1.jpg"/>
			</div>
			<div><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Marabou_stork%2C_Leptoptilos_crumeniferus_edit1.jpg/603px-Marabou_stork%2C_Leptoptilos_crumeniferus_edit1.jpg"/>
			</div>
		</div>
	</div>
	<div class="ajcol2" style="line-height: 1.231;">
		<div style="padding: 1em">
			<!-- <a class="inst_link">
				<div class="vov_logo"><img src="img/vov_avatar.jpg" alt=""></div>
				<div class="inst_nick">v_serdechny</div>
			</a> -->
			<div class="project_descr">
				<p>You can put absolutely any HTML here and resize it dynamically just with help of CSS.</p>
			</div>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>	
</div>

